src/main/webapp/META-INF/upload-report.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><xs:schema xmlns:tns="http://irixservice.intevation.de/" xmlns:ns13="http://www.iaea.org/2012/IRIX/Format" xmlns:ns12="http://www.iaea.org/2012/IRIX/Format/Annexes" xmlns:ns11="http://www.iaea.org/2012/IRIX/Format/Requests" xmlns:ns10="http://www.iaea.org/2012/IRIX/Format/Locations" xmlns:ns9="http://www.iaea.org/2012/IRIX/Format/MediaInformation" xmlns:ns8="http://www.iaea.org/2012/IRIX/Format/MedicalInformation" xmlns:ns7="http://www.iaea.org/2012/IRIX/Format/Measurements" xmlns:ns6="http://www.iaea.org/2012/IRIX/Format/ResponseActions" xmlns:ns5="http://www.iaea.org/2012/IRIX/Format/ConsequenceInformation" xmlns:ns4="http://www.iaea.org/2012/IRIX/Format/Meteorology" xmlns:ns3="http://www.iaea.org/2012/IRIX/Format/ReleaseInformation" xmlns:ns2="http://www.iaea.org/2012/IRIX/Format/EventInformation" xmlns:ns1="http://www.iaea.org/2012/IRIX/Format/Identification" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://irixservice.intevation.de/">

<xs:import namespace="http://www.iaea.org/2012/IRIX/Format/Identification"/>

<xs:import namespace="http://www.iaea.org/2012/IRIX/Format/EventInformation"/>

<xs:import namespace="http://www.iaea.org/2012/IRIX/Format/ReleaseInformation"/>

<xs:import namespace="http://www.iaea.org/2012/IRIX/Format/Meteorology"/>

<xs:import namespace="http://www.iaea.org/2012/IRIX/Format/ConsequenceInformation"/>

<xs:import namespace="http://www.iaea.org/2012/IRIX/Format/ResponseActions"/>

<xs:import namespace="http://www.iaea.org/2012/IRIX/Format/Measurements"/>

<xs:import namespace="http://www.iaea.org/2012/IRIX/Format/MedicalInformation"/>

<xs:import namespace="http://www.iaea.org/2012/IRIX/Format/MediaInformation"/>

<xs:import namespace="http://www.iaea.org/2012/IRIX/Format/Locations"/>

<xs:import namespace="http://www.iaea.org/2012/IRIX/Format/Requests"/>

<xs:import namespace="http://www.iaea.org/2012/IRIX/Format/Annexes"/>

<xs:import namespace="http://www.iaea.org/2012/IRIX/Format"/>

<xs:element name="UploadReportException" type="tns:UploadReportException"/>

<xs:element name="uploadReport" type="tns:uploadReport"/>

<xs:element name="uploadReportResponse" type="tns:uploadReportResponse"/>

<xs:complexType name="uploadReport">
<xs:sequence>
<xs:element name="arg0" type="ns13:ReportType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="uploadReportResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="UploadReportException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
